In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#read file
beers_pd = pd.read_csv("resources/open-beer-database.csv")
beers_pd.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Scottish Ale,1495,347,1,15,5.8,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Scotch Ale,British Ale,Carlyle Brewing,215 East State Street,Rockford,Illinois,United States,"42.2689, -89.0907",NaN
1,Het Kapittel Pater,1509,301,-1,-1,0.0,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Brouwerij Van Eecke,Douvieweg 2,Watou,West-Vlaanderen,Belgium,"50.8612, 2.6615",NaN
2,Export Premium,1516,785,-1,-1,5.4,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Licher Privatbrauerei,In den Hardtberggrten,Lich,Hessen,Germany,"50.5208, 8.8166",NaN
3,Bee Sting Honey Ale,1527,604,3,26,5.9,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,American-Style Pale Ale,North American Ale,Great Divide Brewing,2201 Arapahoe Street,Denver,Colorado,United States,"39.7539, -104.989",http://www.greatdivide.com/
4,PranQster Belgian Ale,1540,919,-1,-1,7.6,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,North Coast Brewing Company,455 North Main Street,Fort Bragg,California,United States,"39.4466, -123.806",http://www.northcoastbrewing.com/home.htm

In [3]:
#select columns
beers_df = beers_pd[['Name','Alcohol By Volume','Style','Category','Brewer','City','State','Country']]
beers_df.head()

,Name,Alcohol By Volume,Style,Category,Brewer,City,State,Country
0,Scottish Ale,5.8,Scotch Ale,British Ale,Carlyle Brewing,Rockford,Illinois,United States
1,Het Kapittel Pater,0.0,NaN,NaN,Brouwerij Van Eecke,Watou,West-Vlaanderen,Belgium
2,Export Premium,5.4,NaN,NaN,Licher Privatbrauerei,Lich,Hessen,Germany
3,Bee Sting Honey Ale,5.9,American-Style Pale Ale,North American Ale,Great Divide Brewing,Denver,Colorado,United States
4,PranQster Belgian Ale,7.6,NaN,NaN,North Coast Brewing Company,Fort Bragg,California,United States

In [4]:
#removed NaNs from Style
beers_df = beers_df[beers_df['Style'].notna()]
beers_df.head()

,Name,Alcohol By Volume,Style,Category,Brewer,City,State,Country
0,Scottish Ale,5.8,Scotch Ale,British Ale,Carlyle Brewing,Rockford,Illinois,United States
3,Bee Sting Honey Ale,5.9,American-Style Pale Ale,North American Ale,Great Divide Brewing,Denver,Colorado,United States
11,Weissbier,0.0,South German-Style Hefeweizen,German Ale,Schlobrauerei Reckendorf,Reckendorf,Bayern,Germany
12,Bockbier,7.0,Traditional German-Style Bock,German Lager,Klosterbru Bamberg,Bamberg,Bayern,Germany
15,Maximator,0.0,Traditional German-Style Bock,German Lager,Augustiner-BrÃƒÂ¤u MÃƒÂ¼nchen,MÃƒÂ¼nchen,Bayern,Germany

In [5]:
# remove US from Country
beers_no_us = beers_df.loc[beers_df.Country.values != 'United States']
beers_no_us.head()

,Name,Alcohol By Volume,Style,Category,Brewer,City,State,Country
11,Weissbier,0.0,South German-Style Hefeweizen,German Ale,Schlobrauerei Reckendorf,Reckendorf,Bayern,Germany
12,Bockbier,7.0,Traditional German-Style Bock,German Lager,Klosterbru Bamberg,Bamberg,Bayern,Germany
15,Maximator,0.0,Traditional German-Style Bock,German Lager,Augustiner-BrÃƒÂ¤u MÃƒÂ¼nchen,MÃƒÂ¼nchen,Bayern,Germany
18,Dark Lager,0.0,German-Style Schwarzbier,German Lager,San Miguel Corporation,Manila,NaN,Philippines
41,Brockton Black Lager,6.5,German-Style Schwarzbier,German Lager,Granville Island Brewing,Kelowna,British Columbia,Canada

In [6]:
#change column names
beers_no_us = beers_no_us.rename(columns={'Alcohol By Volume': 'abv','Name':'Beer Name','Brewer':'Brewery Name'})
beers_no_us

,Beer Name,abv,Style,Category,Brewery Name,City,State,Country
11,Weissbier,0.0,South German-Style Hefeweizen,German Ale,Schlobrauerei Reckendorf,Reckendorf,Bayern,Germany
12,Bockbier,7.0,Traditional German-Style Bock,German Lager,Klosterbru Bamberg,Bamberg,Bayern,Germany
15,Maximator,0.0,Traditional German-Style Bock,German Lager,Augustiner-BrÃƒÂ¤u MÃƒÂ¼nchen,MÃƒÂ¼nchen,Bayern,Germany
18,Dark Lager,0.0,German-Style Schwarzbier,German Lager,San Miguel Corporation,Manila,NaN,Philippines
41,Brockton Black Lager,6.5,German-Style Schwarzbier,German Lager,Granville Island Brewing,Kelowna,British Columbia,Canada
...,...,...,...,...,...,...,...,...
5917,HURRICANE I.P.A.,0.0,American-Style India Pale Ale,North American Ale,Storm Brewing,Vancouver,British Columbia,Canada
5919,Salvator,7.9,German-Style Doppelbock,German Lager,Paulaner,Munich,NaN,Germany
5933,Abbaye de St Amand,7.0,Other Belgian-Style Ales,Belgian and French Ale,Brasserie de Brunehaut,Brunehaut,Hainaut,Belgium
5946,Ise Kadoya Stout,5.0,American-Style Stout,North American Ale,Nikenjayamochi Kadoya Honten Co.,NaN,NaN,Japan
5967,Erdinger Weizen,5.3,Light American Wheat Ale or Lager,Other Style,Privatbrauerei Erdinger Weissbru,Erding,Bayern,Germany

In [7]:
#sort breweries for count off
beers_no_us = beers_no_us.sort_values(by=['Brewery Name'], ascending=[True])
beers_no_us

,Beer Name,abv,Style,Category,Brewery Name,City,State,Country
1008,Oude Geuze,6.0,Belgian-Style Fruit Lambic,Belgian and French Ale,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium
5308,Drie Fonteinen Kriek,5.0,Belgian-Style Fruit Lambic,Belgian and French Ale,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium
4563,Bock Beer,5.9,Traditional German-Style Bock,German Lager,Aass Brewery,Drammen,NaN,Norway
1007,JuleÃƒÂ¸l,5.9,Dark American-Belgo-Style Ale,North American Ale,Aass Brewery,Drammen,NaN,Norway
5083,Classic Special Brew,0.0,American-Style Lager,North American Lager,Aass Brewery,Drammen,NaN,Norway
...,...,...,...,...,...,...,...,...
2976,Special London Ale,6.4,Old Ale,British Ale,Youngs & Company Brewery,London,NaN,England
2097,Yeti Special Export,7.0,American-Style Lager,North American Lager,Yuksom Breweries,Malli,Sikkim,India
3960,Noblesse,6.0,Golden or Blonde Ale,North American Ale,de dochter van de korenaar,baarle-hertog,NaN,Belgium
5269,embrasse,9.0,Belgian-Style Dark Strong Ale,Belgian and French Ale,de dochter van de korenaar,baarle-hertog,NaN,Belgium
4696,Baltas Alus,5.2,South German-Style Hefeweizen,German Ale,vyturio Alaus Darykla,Klaipda,NaN,Lithuania

In [8]:
#group breweries to establish a count and prepare to add an id # that will work with our us data
grouped_brewery = beers_no_us.groupby(['Brewery Name']).count()
grouped_brewery

,Beer Name,abv,Style,Category,City,State,Country
Brewery Name,,,,,,,
3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,2,2,2,2,2,2,2
Aass Brewery,5,5,5,5,5,0,5
Abbaye Notre Dame du St Remy,2,2,2,2,2,2,2
Abbaye de Leffe,1,1,1,1,1,1,1
Abbaye de Maredsous,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...
Yaletown Brewing,2,2,2,2,2,2,2
Youngs & Company Brewery,4,4,4,4,4,0,4
Yuksom Breweries,1,1,1,1,1,1,1
de dochter van de korenaar,2,2,2,2,2,0,2
vyturio Alaus Darykla,1,1,1,1,1,0,1

In [9]:
#create Brewery ID function
brew_id = 577
brewery_id = []
for row in range(len(grouped_brewery['Country'])):
    brew_id = brew_id + 1
    brewery_id.append(brew_id)
    


    


grouped_brewery['Brewery Id']=brewery_id
grouped_brewery

,Beer Name,abv,Style,Category,City,State,Country,Brewery Id
Brewery Name,,,,,,,,
3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,2,2,2,2,2,2,2,578
Aass Brewery,5,5,5,5,5,0,5,579
Abbaye Notre Dame du St Remy,2,2,2,2,2,2,2,580
Abbaye de Leffe,1,1,1,1,1,1,1,581
Abbaye de Maredsous,3,3,3,3,3,3,3,582
...,...,...,...,...,...,...,...,...
Yaletown Brewing,2,2,2,2,2,2,2,925
Youngs & Company Brewery,4,4,4,4,4,0,4,926
Yuksom Breweries,1,1,1,1,1,1,1,927
de dochter van de korenaar,2,2,2,2,2,0,2,928
vyturio Alaus Darykla,1,1,1,1,1,0,1,929

In [15]:
#merge DataFrames to make it easier to pull the values we need for each table.
full_df = beers_no_us.merge(grouped_brewery, left_on = ['Brewery Name'], right_on = ['Brewery Name'], how = 'left')
full_df

,Beer Name_x,abv_x,Style_x,Category_x,Brewery Name,City_x,State_x,Country_x,Beer Name_y,abv_y,Style_y,Category_y,City_y,State_y,Country_y,Brewery Id
0,Oude Geuze,6.0,Belgian-Style Fruit Lambic,Belgian and French Ale,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2,2,2,2,2,2,2,578
1,Drie Fonteinen Kriek,5.0,Belgian-Style Fruit Lambic,Belgian and French Ale,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2,2,2,2,2,2,2,578
2,Bock Beer,5.9,Traditional German-Style Bock,German Lager,Aass Brewery,Drammen,NaN,Norway,5,5,5,5,5,0,5,579
3,JuleÃƒÂ¸l,5.9,Dark American-Belgo-Style Ale,North American Ale,Aass Brewery,Drammen,NaN,Norway,5,5,5,5,5,0,5,579
4,Classic Special Brew,0.0,American-Style Lager,North American Lager,Aass Brewery,Drammen,NaN,Norway,5,5,5,5,5,0,5,579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,Special London Ale,6.4,Old Ale,British Ale,Youngs & Company Brewery,London,NaN,England,4,4,4,4,4,0,4,926
774,Yeti Special Export,7.0,American-Style Lager,North American Lager,Yuksom Breweries,Malli,Sikkim,India,1,1,1,1,1,1,1,927
775,Noblesse,6.0,Golden or Blonde Ale,North American Ale,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2,2,2,2,2,0,2,928
776,embrasse,9.0,Belgian-Style Dark Strong Ale,Belgian and French Ale,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2,2,2,2,2,0,2,928
777,Baltas Alus,5.2,South German-Style Hefeweizen,German Ale,vyturio Alaus Darykla,Klaipda,NaN,Lithuania,1,1,1,1,1,0,1,929

In [26]:
#create our international brewery dataframe 
international_brewery = full_df[['Brewery Id', 'Brewery Name', 'City_x', 'State_x', 'Country_x', 'City_y']]
international_brewery

,Brewery Id,Brewery Name,City_x,State_x,Country_x,City_y
0,578,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2
1,578,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2
2,579,Aass Brewery,Drammen,NaN,Norway,5
3,579,Aass Brewery,Drammen,NaN,Norway,5
4,579,Aass Brewery,Drammen,NaN,Norway,5
...,...,...,...,...,...,...
773,926,Youngs & Company Brewery,London,NaN,England,4
774,927,Yuksom Breweries,Malli,Sikkim,India,1
775,928,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2
776,928,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2
777,929,vyturio Alaus Darykla,Klaipda,NaN,Lithuania,1

In [29]:
#drop duplicate rows and rename the columns
international_brewery = international_brewery.drop_duplicates(['Brewery Id'], keep = 'first')
international_brewery = international_brewery.rename(columns = {'City_x':'City', 'State_x':'State', 'Country_x':'Country', 'City_y':'Beer Count'})
international_brewery

,Brewery Id,Brewery Name,City,State,Country,Beer Count
0,578,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2
2,579,Aass Brewery,Drammen,NaN,Norway,5
7,580,Abbaye Notre Dame du St Remy,Rochefort,Namur,Belgium,2
9,581,Abbaye de Leffe,Dinant,Namur,Belgium,1
10,582,Abbaye de Maredsous,Dene,Namur,Belgium,3
...,...,...,...,...,...,...
768,925,Yaletown Brewing,Vancouver,British Columbia,Canada,2
770,926,Youngs & Company Brewery,London,NaN,England,4
774,927,Yuksom Breweries,Malli,Sikkim,India,1
775,928,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2
777,929,vyturio Alaus Darykla,Klaipda,NaN,Lithuania,1

In [30]:
#import items to run api requests from google
import requests
import json
from config import gkey

In [31]:
#establish a base Url and a list of values to search
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input='
brewery= international_brewery['Brewery Name']

In [32]:
#create a value to return and runa for loop the request the rating of each brewery from google.
rating = []
for b in brewery:
    query_url = f'{base_url}{b}&inputtype=textquery&fields=name,rating&key={gkey}'
    response = requests.get(query_url)
    response_json = response.json()
    try:
      rating.append(response_json['candidates'][-1]['rating'])
    except:
        rating.append('NaN')
        
rating

['NaN',
 4.4,
 4.2,
 4.2,
 4.3,
 'NaN',
 4.5,
 'NaN',
 4.5,
 3.7,
 'NaN',
 4.2,
 4.8,
 'NaN',
 4.8,
 'NaN',
 4.3,
 'NaN',
 'NaN',
 4.5,
 'NaN',
 'NaN',
 'NaN',
 4.6,
 4.3,
 4.8,
 4.1,
 3,
 4.5,
 4.5,
 4.6,
 4.5,
 4.1,
 4.5,
 4.3,
 4.9,
 5,
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 0,
 4.5,
 4.1,
 'NaN',
 4.6,
 4.5,
 4.7,
 4.7,
 4.4,
 4.6,
 3.8,
 4.1,
 4.3,
 4.7,
 4.1,
 4.8,
 4.6,
 4.6,
 4.7,
 'NaN',
 'NaN',
 4.3,
 'NaN',
 4.6,
 'NaN',
 4.4,
 4.2,
 'NaN',
 4.4,
 4.3,
 4.4,
 3.9,
 'NaN',
 'NaN',
 'NaN',
 4.9,
 4.5,
 4.5,
 'NaN',
 'NaN',
 4.8,
 4.5,
 4.5,
 4.5,
 4.8,
 4.6,
 0,
 4.8,
 'NaN',
 4.4,
 4.6,
 4.3,
 4.4,
 4.3,
 4.9,
 4.3,
 4.7,
 4.5,
 4.7,
 5,
 4.4,
 4.7,
 4.1,
 3.5,
 'NaN',
 4.2,
 4.1,
 4.5,
 'NaN',
 'NaN',
 4.7,
 'NaN',
 4.5,
 4.6,
 4.4,
 'NaN',
 5,
 3.9,
 4.5,
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 0,
 'NaN',
 4,
 'NaN',
 4.1,
 4.3,
 4.3,
 4.4,
 'NaN',
 'NaN',
 4.2,
 5,
 4.5,
 'NaN',
 4.8,
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 0,
 4.7,
 'NaN',
 4.7,
 4.4,
 5,
 4.7,
 'NaN',
 4.8,
 'NaN',
 4.7,
 'NaN',
 4.5,
 3.3,
 4.5,
 4.5,
 0,
 'NaN',
 3.4,
 'NaN',
 4.7,
 4.5,
 'NaN',
 'NaN',
 4.7,
 5,
 4.3,
 4.3,
 4.4,
 4.3,
 'NaN',
 4.5,
 'NaN',
 4.7,
 5,
 5,
 'NaN',
 'NaN',
 0,
 4.8,
 4,
 'NaN',
 'NaN',
 3.3,
 'NaN',
 'NaN',
 'NaN',
 4.5,
 4.8,
 'NaN',
 'NaN',
 4,
 4.7,
 5,
 4.7,
 'NaN',
 5,
 4.3,
 'NaN',
 4.8,
 4.4,
 'NaN',
 'NaN',
 3.4,
 'NaN',
 'NaN',
 4.2,
 'NaN',
 'NaN',
 4.4,
 4.2,
 3.9,
 'NaN',
 'NaN',
 3.4,
 'NaN',
 4.2,
 'NaN',
 4.6,
 4.3,
 'NaN',
 4.1,
 'NaN',
 'NaN',
 0,
 'NaN',
 'NaN',
 4.4,
 4.7,
 0,
 4.5,
 4.5,
 4,
 4.4,
 3.5,
 'NaN',
 5,
 4.4,
 'NaN',
 4.3,
 'NaN',
 4.8,
 'NaN',
 'NaN',
 4.1,
 'NaN',
 'NaN',
 0,
 5,
 'NaN',
 4.3,
 4.1,
 'NaN',
 4.5,
 5,
 'NaN',
 4.1,
 4.1,
 'NaN',
 'NaN',
 'NaN',
 4.9,
 'NaN',
 4.7,
 4,
 'NaN',
 'NaN',
 4.3,
 4.7,
 5,
 4.3,
 'NaN',
 5,
 3.7,
 4.9,
 'NaN',
 4,
 'NaN',
 4.8,
 2.8,
 4.7,
 'NaN',
 0,
 'NaN',
 4.6,
 'NaN',
 4.2,
 'NaN',
 0,
 0,
 'NaN',
 'NaN',
 'NaN',
 4.4,
 3.3,
 'NaN',
 4.2,
 4.5,
 4.6,
 3.5,
 4.7,
 4.1,
 'NaN',
 4.5,
 4.8,
 'NaN',
 'NaN',
 4.7,
 'NaN',
 0,
 4.3,
 4.6,
 4.5,
 'NaN',
 'NaN',
 'NaN',
 4.5,
 4.6,
 'NaN',
 'NaN',
 'NaN',
 4.1,
 'NaN',
 4.5,
 4.6,
 'NaN',
 'NaN',
 4.1,
 'NaN',
 'NaN',
 'NaN',
 4.4,
 'NaN',
 4.8,
 0,
 'NaN',
 'NaN',
 'NaN',
 3.8,
 4.8,
 4.6,
 'NaN',
 4.7,
 'NaN',
 4,
 4.7,
 3.9,
 4.6,
 'NaN']

In [34]:
#add the rating to the DataFrame
international_brewery['Rating'] = rating
international_brewery

,Brewery Id,Brewery Name,City,State,Country,Beer Count,Rating
0,578,3 Fonteinen Brouwerij Ambachtelijke Geuzestekerij,Beersel,Vlaams Brabant,Belgium,2,NaN
2,579,Aass Brewery,Drammen,NaN,Norway,5,4.4
7,580,Abbaye Notre Dame du St Remy,Rochefort,Namur,Belgium,2,4.2
9,581,Abbaye de Leffe,Dinant,Namur,Belgium,1,4.2
10,582,Abbaye de Maredsous,Dene,Namur,Belgium,3,4.3
...,...,...,...,...,...,...,...
768,925,Yaletown Brewing,Vancouver,British Columbia,Canada,2,4
770,926,Youngs & Company Brewery,London,NaN,England,4,4.7
774,927,Yuksom Breweries,Malli,Sikkim,India,1,3.9
775,928,de dochter van de korenaar,baarle-hertog,NaN,Belgium,2,4.6
777,929,vyturio Alaus Darykla,Klaipda,NaN,Lithuania,1,NaN

In [36]:
#create our international beers DataFrame and rename for consistency
international_beers = full_df[['Beer Name_x', 'Style_x','abv_x', 'Brewery Id']]
international_beers = international_beers.rename(columns = {'Beer Name_x':'Beer Name', 'Style_x':'Style', 'abv_x':'abv'})
international_beers

                Beer Name                          Style  abv  Brewery Id
0              Oude Geuze     Belgian-Style Fruit Lambic  6.0         578
1    Drie Fonteinen Kriek     Belgian-Style Fruit Lambic  5.0         578
2               Bock Beer  Traditional German-Style Bock  5.9         579
3                 JuleÃƒÂ¸l  Dark American-Belgo-Style Ale  5.9         579
4    Classic Special Brew           American-Style Lager  0.0         579
..                    ...                            ...  ...         ...
773    Special London Ale                        Old Ale  6.4         926
774   Yeti Special Export           American-Style Lager  7.0         927
775              Noblesse           Golden or Blonde Ale  6.0         928
776              embrasse  Belgian-Style Dark Strong Ale  9.0         928
777           Baltas Alus  South German-Style Hefeweizen  5.2         929

[778 rows x 4 columns]

In [37]:
#save as a csv so we don't have to run the API code again to load our DataFrames into SQL.
international_brewery.to_csv('output/final_international_brewery.csv')
international_beers.to_csv('output/final_international_beers.csv')